@model List<SchoolManagementSystem.Data.Entities.Department>

@{
    ViewData["Title"] = "Index";
}

<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Departments</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active">Departments</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a asp-action="Create" class="btn btn-primary">
                        <i class="fas fa-plus"></i>
                    </a>
                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-center mb-0 datatable">
                                <thead>
                                    <tr>                                     
                                        <th>Department</th>
                                        <th>Department Head</th>
                                        <th>Started Year</th>
                                        <th>No of Students</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var dep in Model)
                                    {
                                        <tr>
                                            <td>@dep.Department1 </td>                                    
                                            <td>@dep.HeadOfDepartment</td>
                                            <td>@dep.DepartmentStartDate.Value.Year</td>
                                            <td>@dep.NumberOfStudent</td>
                                            <td class="text-right">
                                                <div class="actions">
                                                    
                                                    <a asp-action="Edit" asp-route-id="@dep.DepartmentId"
                                                       class="btn btn-sm bg-success-light mr-2">
                                                        <i class="fas fa-pen"></i>
                                                    </a>
                                                    <a asp-action="Delete" asp-route-id="@dep.DepartmentId"
                                                        class="btn btn-sm bg-danger-light">
                                                        <i class="fas fa-trash"></i>                                                      
                                                    </a>
                                                     
                                                </div>
                                            </td>
           
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                Copyright © 2024 SchoolManagementSystem
            </footer>
        </div>
    </div>

   
</div>




